.profile__avatar {
  /* position: relative; */
  border-radius: 100%;
  width: 120px;
  height: 120px;
  background-size: cover;
  padding: 0;
  margin: 0;
}

/* .profile__avatar:hover {
  transition: opacity .3s;
  opacity: .4;
} */